<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- 1.xml配置方式
    把Parent对象和Son对象 注册为bean,并注入值 -->
    <bean id="p" class="xmlBean.Parent">
        <property name="name" value="张三" />
        <property name="age" value="11" />
    </bean>
    <bean id="s" class="xmlBean.Son">
        <property name="Parent" ref="p" />
        <property name="name" value="张四" />
        <property name="age" value="1" />
    </bean>

    <!-- 2.注解方式
    扫描 autoBean目录下的 @Component @Autowired 等相关注解 -->
    <context:component-scan base-package="autoBean"/>
</beans>