<component name="libraryTable">
  <library name="springMVClib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <excluded>
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0.jar!/" />
    </excluded>
    <jarDirectory url="file://$PROJECT_DIR$/lib" recursive="false" />
  </library>
</component>